<%= form_for(vaccination) do |f| %>
  <% if vaccination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaccination.errors.count, "error") %> prohibited this vaccination from being saved:</h2>

      <ul>
      <% vaccination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disease %>
    <%= f.select :disease_id, Disease.all.collect {|d| [d.name, d.id]}, {include_blank: 'None'} %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :e_information %>
    <%= f.text_area :e_information %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
