<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "backgroundAfterLogin.jpg" , size: "2048x1080"  %>

</div>

<div class="verdunkelung">

<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>
<!-- div mit combobox für die Auswahl -->
<div id="tabellenPlatz">

  <div id="wikiTitle"><%=@disease.name %></div>

<br>
  <div id="overview">
  <a href="#Anker11" id="anker">1.1 Was ist <%=@disease.name %>?</a><br>
  <a href="#Anker12" id="anker">1.2 Wie infiziert man sich?</a><br>
  <a href="#Anker13" id="anker">1.3 Symptome</a><br>
  <a href="#Anker14" id="anker">1.4 Vorbeugung und Bekämpfung</a><br>
  </div>


  <div id="inhalt">
  <br><h2 id="Anker11">1.1 Was ist <%=@disease.name %>?</h2>
  <%= @disease.what%><br><br>

    <br><h2 id="Anker12">1.2 Wie infiziert man sich?</h2>
    <%= @disease.infection%><br><br>

    <br><h2 id="Anker13">1.3 Symptome</h2>
    <%= @disease.symptom%><br><br>

    <br><h2 id="Anker14">1.4 Vorbeugung und Bekämpfung</h2>
    <%= @disease.counteraction%><br>
  <br>
</div>
</div>
</div>