<div id="SeitenfensterLinks">
  <div id="menu">

    <ul>
      <li id="menuLink"><%= link_to "Accountinfo", "/" %></li>
      <li id="menuLink"><%= link_to "Home", "/main"%></li>
      <li id="menuLink"><%= link_to "Impfpass", "/impfpass"%></li>
      <li id="menuLink"><%= link_to "Notizen", "/"%></li>
      <li id="menuLink"><%= link_to "Soziale Projekte", "/socialProjects" %></li>
      <li id="menuLink"><%= link_to "Kompendium", "/wikiMain" %></li>
    </ul>
  </div>

</div>