<div id="SeitenfensterLinks">
  <div id="menu">

    <ul>
      <li id="menuLink"><%= link_to "Accountinfo", edit_user_registration_path(current_user) %></li>
      <li id="menuLink"><%= link_to "Home", "/main"%></li>
      <li id="menuLink"><%= link_to "Impfpass", "/impfpass"%></li>
      <li id="menuLink"><%= link_to "Notizen", "/note"%></li>
      <li id="menuLink"><%= link_to "soziale Projekte", "/socialProjects" %></li>
      <li id="menuLink"><%= link_to "Kompendium", "/wikiMain" %></li>
    </ul>
  </div>

</div>