<div id="SeitenfensterLinks">
  <div id="menu">

    <ul>
      <li id="menuLink"><%= link_to "Accountinfo", "/accinfo" %></li>
      <li id="menuLink"><%= link_to "Home", "/main"%></li>
      <li id="menuLink"><%= link_to "Impfpass", "/impfpass"%></li>
<<<<<<< HEAD
      <li id="menuLink"><%= link_to "Notizen", "/"%></li>
      <li id="menuLink"><%= link_to "Soziale Projekte", "/socialProjects" %></li>
=======
      <li id="menuLink"><%= link_to "Notizen", "/note"%></li>
      <li id="menuLink"><%= link_to "soziale Projekte", "/socialProjects" %></li>
>>>>>>> 510b595c36b30acce0a441ec475ae8e87cb920cd
      <li id="menuLink"><%= link_to "Kompendium", "/wikiMain" %></li>
    </ul>
  </div>

</div>