<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "healthcare.png" , size: "2048x1080"  %>

</div>

<div class="verdunkelung">


<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>
<!-- div mit combobox für die Auswahl -->



  <div id="tabellenPlatz">

    <div id="who">
    <%= image_tag "WHO.png", height: "105pt" %>
    </div>

    <div id="comboBox">
      <%= select_tag options_for_select(VaccinationCard::ENTRY_TYPES.collect.with_index.to_a), id: "impfKategorie" %>

      <%= link_to "Impfkalender", '/vaccination_information', id: "link_to_vacc_information"%>
      <%= link_to "Impfung hinzufügen",  new_vaccination_card_path, id: "link_to_vacc_information"%>

    <div id="link_to_vacc_information"></div>

    <!-- Tabelle erstellen-->
    <div id="tabellenContainer">
      <table id="tabelleSI">

          <thead>
        <tr>
        <th>Art der Impfung<br>Name des Impfstoffes</th>
          <th>Typ</th>
          <th>Chargen-Nr.</th>
          <th>Dosis<br>E & ml</th>
          <th>Datum</th>
          <th>Signatur des Arztes</th>
        </tr>
          </thead>
          <tbody>
          <% @current_user.vaccination_cards.each do |vc| %>
        <tr>

          <td><%= vc.injection_type %></td>
          <td><%= vc.typ %>  </td>
          <td><%= vc.charge_number %>  </td>
          <td><%= vc.dosis_e%> "< | >" <%=  vc.dosis_ml %>  </td>
          <td><%= vc.get_date %>  </td>
          <td><%= vc.doctor %>  </td>

        </tr>
          <% end %>


          </tbody>


      </table>

    </div>
  </div>
</div>
</div>