<div id="gesamtesFenster">
  <%= image_tag "impfpassBackground.jpg", class: "testIcon" %>
</div>


<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>
<!-- div mit combobox für die Auswahl -->



  <div id="tabellenPlatz">

    <div id="who">
    <%= image_tag "WHO.png", height: "120vh" %>
    </div>

    <div id="comboBox">
      <select id="impfKategorie">
        <option value="Serum-Injektionen" >Serum-Injektionen </option>
        <option value="Schutzimpfungen">Schutzimpfungen</option>
      </select>
      <%= link_to "Impfkalender", '/vaccination_information', id: "link_to_vacc_information"%>
      <%= link_to "Impfung hinzufügen",  new_vaccination_card_path, id: "link_to_vacc_information"%>
    </div>

    <div id="link_to_vacc_information"></div>

    <!-- Tabelle erstellen-->
    <div id="tabellenContainer">
      <table id="tabelleSI">

          <thead>
        <tr>
        <th>Art der Impfung<br>Name des Impfstoffes</th>
          <th>Typ</th>
          <th>Chargen-Nr.</th>
          <th>Dosis<br>E & ml</th>
          <th>Datum</th>
          <th>Signatur des Arztes</th>
        </tr>
          </thead>
          <tbody>
          <% @current_user.vaccination_cards.each do |vc| %>
        <tr>

          <td><%= vc.injection_type %></td>
          <td><%= vc.typ %>  </td>
          <td><%= vc.charge_number %>  </td>
          <td><%= vc.dosis_e%> "< | >" <%=  vc.dosis_ml %>  </td>
          <td><%= vc.get_date %>  </td>
          <td><%= vc.doctor %>  </td>

        </tr>
          <% end %>


          </tbody>


      </table>

    </div>
  </div>
