<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "healthcare.png" , size: "2048x1080"  %>

</div>

<div class="verdunkelung">

<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>

<div id="tabellenPlatz">

  <div id="wikiTitle">Notizen</div>

  <div id="notesBackgroundDiv">

    <div id="Seitenfenster3">

    <div id="my_notes">

      <h3 id="meineNotizen">Meine Notizen</h3>

      <% @notes.each do |note|%>
        <%= link_to note.title.blank? ? 'untitled':note.title, custom_notes_path(id:note.id), id: "link_to_Antrag2" %> </br>
      <% end %>
    </div>

    <%= link_to "Hinzufügen", custom_notes_path, remote: true , id: "linkAddDelete"%>
      <% unless @note.id.nil? %> </br></br>
      <% path = (@note.id.nil? ? root_path : note_path(@note))%>
      <%= link_to "Löschen", path, remote: true, method: :delete , id: "linkAddDelete"%>
    <% end %>
  </div>


<%= form_for(@note) do |f| %>

    <div id="erstelleNotiz">
  <div  id="notiz1">

    <%= f.text_area :title, id:"noteTitle", style:"resize:none", rows:"1" ,placeholder:"Titel" %>

  </div>
  <div id="notiz2">

    <%= f.text_area :content, id:"noteAttribut", style:"resize:none", placeholder:"Notiz" %>
  </div>
      <div id="speichern">
    <%= f.submit "Speichern", style:"font-size: 16pt", id: "save"%>
      </div>

    </div>

<% end %>
</div>
</div>
</div>