<!--  <title>World Wide Health and Travel</title> -->

<!--
<p class="zentriert">
  <span class="hervorgehoben">World Wide Health And Travel</span>
</p>
<p class="zentriert">
  We help to improve your life
</p>
<p class="zentriert">

</p>


<div  class="video-container" >
  <%= video_tag "rotation.mp4", id:"bgvid", autoplay:"", loop:"", muted:"" %>
</div>
-->

<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "v1" , size: "2048x1080"  %>
</div>

<div class="verdunkelung">


  <!--erstelle login und registry in vertikaler order-->

  <div id="logReg">



    <div id="link">
      <p  id="company" style="display: inline; float: left !important;"> World Wide Health And Travel </p>
      <%= link_to 'Login' , new_user_session_path%>

      <%= link_to 'FAQ' , new_user_session_path%>

      <%= link_to 'Blog' , new_user_session_path%>

      <%= link_to 'Registrierung' , new_user_registration_path%>
    </div>

  </div>




<div id="textContainer">


  <div id="title">

  <p>Eine umfassende Plattform für<br>
    globale Unterstützung &<br>
    Ihre Gesundheit<br>
    <div id="titleHelp">unterstützt von Google Maps API </div>
  </p>
  </div>

  <!-- erstelle Box für text -->
  <div class="textfelder" id="vision1">
    <h1 class="headline"> Entdecken Sie unsere Welt !</h1>
    <p> <br> Mit unserer Plattform erhalten Sie eine bisher unerreichte Sicherheit auf all Ihren Reisen durch regelmäßige Nachrichten über die aktuelle Region,<br>
      Frühwarnungen und dem digitalen Impfpass. Und das Beste, unterstützen Sie dabei globale Projekte um die Welt lebenswerter zu gestalten.<br><br><br>

      <%= image_tag("leistungen.png" )  %>


       </div>


  <!-- erstelle Box für text -->
  <div id="visionii">

    <div id="contentVisii">
      <h1 class="headline" style="text-align: left !important;">Alle wichtigen Infos auf einen Blick</h1>
      <p><br>Egal wohin Sie möchten, haben Sie die momentane Situation der Region im
        Blick. Falls sich Ihre Gesundheit verschlechtert, sehen <br> Sie auch Ärzte
        in Ihrer Umgebung.
      </p>
    </div>
  </div>

  <div id="vision3a">
    <div id="contentVis3a">
      <h1 class="headline" style="text-align: right !important;">Planen Sie eine Reise ?</h1>
      <p><br>Nutzen Sie doch gleich den online Reiseplaner
                   und finden Sie die ideale Unterkunft inklusive
                   Flug für Ihren Aufenthalt.
                   Bevor Sie etwas vergessen, schreiben Sie es sich
                   als Notiz zu Ihrer Reise hinzu.
      </p>

    </div>
  </div>


  <div id="vision4a">
    <div id="contentVisii">
      <h1 class="headline" style="text-align: left !important;">Ausblick</h1>
      <p><br>Wir arbeiten stets daran Ihnen die bestmögliche Sicherheit Ihrer Daten zu gewährleisten. Deshalb werden wir im Bereich der Quantenkryptographie forschen, da dies einen neuen Standard in der Datensicherheit bilden wird.
      </p>
    </div>
  </div>

  <div id="schlusswort"><p>WwHaT@2018</p></div>

</div>


  <div id="markbereich">

    <div class="mark" id="point1"> <a href="#vision1" ></a> V I </div>
    <div class="mark" id="point2"> <a href="#vision2" ></a> V II </div>
    <div class="mark" id="point3"> <a href="#vision3" ></a> V III </div>

  </div>



</div>