<div class="image-container" xmlns="http://www.w3.org/1999/html">
  <%= image_tag "healthcare.png" , size: "2048x1080"  %>

</div>

<div class="verdunkelung">

<%= render partial: 'pages/newsline'%>

<%= render partial: 'pages/leftsidepart'%>
<!-- div mit combobox für die Auswahl -->
<div id="tabellenPlatz">

  <div id="wikiTitle">Soziale Projekte</div>
  <div id="inhalt">

    <div id="allgInformationen">
    <br>
    <h2>Allgemeine Informationen</h2>
    Schreiben Sie uns eine E-Mail an WwHaTsocialProjects@gmx.de um einen Antrag auf Veröffentlichung
    ihres Projektes zu stellen. Auf diese Weise wollen wir verhindern, dass Projekte unkontrolliert
    online gestellt und finanziert werden können.<br>
    Im Folgenden finden Sie das Formular für die Beantragung der Veröffentlichung.
    <br><br>

    <%= link_to "Antrag auf Veröffentlichung", {controller: "pages" , action: "pdf"}, target: "_blank", id: "link_to_Antrag"%>
    </div>

    <h2>Aktuelle Projekte</h2>

    <table>
      <thead></thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.project_name %><td>
          <td><%= project.s_description %><td>
          <td><% if project.link_is_accessable?  %><%= link_to "goto official page", project.link, target: "_blank" %><% else %> no active link <% end %><td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
</div>