<div class="video-container" xmlns="http://www.w3.org/1999/html">
  <%= video_tag "rotation.mp4", id:"bgvid", autoplay:"", loop:"", muted:"" %>
</div>

<div id="loginContainer">
   <div id="log">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <fieldset id="loginField">
          <legend id="loginLegend">Member Login</legend>
            <table>
               <tr>
                 <td id="loginAttribut"><%= f.label :user_name %></td>
                 <td><%= f.text_field :user_name, autofocus: true, id: "loginInput" %></td>
               </tr>

               <tr>
                 <td id="loginAttribut"><%= f.label :password %></td>
                 <td><%= f.password_field :password, autocomplete: "off", id:"loginInput" %></td>
               </tr>

               <% if devise_mapping.rememberable? -%>
                 <tr>
                   <td></td>
                   <td><%= f.check_box :remember_me, id:"rememberMeCheck" %><%= f.label :remember_me, id:"rememberMe" %></td>
                 </tr>
               <% end -%>
            </table>
        </fieldset>

       <div id="loginLogin">

           <%= f.submit "Login" , id: "linkLogin" %>
         </div>

      <% end %>

      <%= render "devise/shared/links" %>
    </div>
</div>